  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Transdown: A Lightweight Syntax for Transcripts</title>
    
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/bootstrap/bootstrap-theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/bootstrap/jumbotron.css" rel="stylesheet">
    <link href="stylesheets/bootstrap/navbar-fixed-top.css" rel="stylesheet">
    
    <!-- Transdown-specific styles-->
    <link href="stylesheets/transdown-input.css" rel="stylesheet">
    <link href="stylesheets/transdown-output.css" rel="stylesheet">
    
    <!-- Octicons from Github-->
    <link href="octicons/octicons.css" rel="stylesheet">
  </head>
