<nav class="navbar 
                navbar-default 
                navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" 
                    class="navbar-toggle collapsed" 
                    data-toggle="collapse" 
                    data-target="#navbar" 
                    aria-expanded="false" 
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
              <span class="octicon octicon-comment-discussion"></span>
            Transdown</a>
        </div>
        <div id="navbar" 
             class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="syntax.html">
                        <span class="octicon octicon-code"></span>
                        Syntax Guide</a></li>
                <li>
                    <a href="try-it.html">
                        <span class="octicon octicon-pencil"></span>
                        Try It!</a></li>
                <li>
                    <a href="install.html">
                        <span class="glyphicon glyphicon-download-alt"></span>
                        How To Install</a></li>
                <li>
                    <a href="videos.html">
                        <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                        Videos</a></li>
                <li>
                    <a href="https://github.com/briandk/transdown"
                       target="_blank">
                        <span class="octicon octicon-mark-github"></span>
                        View Source Code on Github</a>
                </li>
            </ul>
        </div>
    </div><!-- End Container -->
</nav>