    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="javascripts/dependencies/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/dependencies/handlebars.runtime-v2.0.0.js"></script>
    <script type="text/javascript" src="javascripts/dependencies/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/templates.js"></script>
    <script type="text/javascript" src="javascripts/transdown.js"></script>
    <script type="text/javascript" src="javascripts/handle-live-preview.js"></script>
