.time {
    font-family: monospace;
    vertical-align: top;
}

.speaker-name {
    vertical-align: top;
    font-weight: 600;
}

.speech {
    vertical-align: top;
}
img.accompanying-media {
    min-width: 200px;
}

.speech-interruption {
    opacity: 0.3;
}